<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rebel_componentandconnector -->
      <package
            uri="http://uniandes/rebel_componentandconnector"
            class="rebel_componentandconnector.Rebel_componentandconnectorPackage"
            genModel="model/rebel_componentandconnector.genmodel"/>
   </extension>

</plugin>
