<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rebel_core -->
      <package
            uri="http://www.example.org/rebel_core"
            class="rebel_core.Rebel_corePackage"
            genModel="model/rebel_core.genmodel"/>
   </extension>

</plugin>
